<header class="page-header page-header-banner">
  <div class="container">
    <div class="page-header-banner-inner">
      <h1 class="page-title">Services</h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row" data-gutter="15">
        <% @services.each do |service| %>
            <%= render partial: 'services/service', locals: { service: service } %>
        <% end %>
      </div>
      <%= will_paginate @services %>
    </div>
  </div>
</div>
<div class="gap"></div>