.top-bottom-space{
  padding: 50px 5px !important;
  text-align: center;
  max-height: 120px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  a{
    text-decoration: none;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
}
.top-bottom-space:hover{
  background-color: #365271;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.top-bottom-space:hover > a{
  color: #ffffff;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.mobile-submit{
  background: #486d97;
  color: #fff !important;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  border-color: #416288;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
}
.otp-submit{
  background: #486d97;
  color: #fff !important;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  border-color: #416288;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
}
.time-price{
  font-size: 18px !important;
  margin: 10px 0;
}
.min-box-height{
  min-height: 500px;
}
.save-full-btn{
  width: 100%;
}
.top-column-product{
  min-height: 350px;
}
.customer-main-con{
  width: 100%;
  margin: 20px 0;
  min-height: 480px;
  .add-btn{
    margin: 10px 0;
  }
  .table{
    tr.info{
      th{
        background-color: #4d4d4d;
        border: none;
        color: #ffffff;
        font-weight: normal;
        font-size: 14px;
      }
    }
    tr.data{
      background-color: #ffffff;
      td{
        font-size: 13px;
      }
    }
  }
}

.content-main-section {
  width: 100%;
  padding: 20px 0;
  .contact-main-form {
    width: 100%;
    margin: 30px 0;
    background-color: #ffffff;
    .field-con{
      padding: 10px 0;
      position: relative;
      .label{
        font-size: 11px;
        position: absolute;
        top: 3px;
        left: 0;
        margin-bottom: 10px;
        color: #000000;
        padding-left: 0;
        abbr{
          border: none;
          color: #cc0000;
        }
      }
      .text-field{
        width: 100%;
        height: 40px;
        border:1px solid #ccc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        background: #ffffff;
        padding: 0 8px;
        margin:15px 0;
        -webkit-appearance:none;
      }
      .full-select-field{
        width: 100%;
        height: 40px;
        border:1px solid #ccc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        background: #ffffff;
        padding: 0 8px;
        margin:15px 0;
      }
      .select-field{
        width: 15%;
        height: 40px;
        border:1px solid #ccc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        background: #ffffff;
        padding: 0 8px;
        margin:15px 0;
      }
      .text-discription{
        width: 100%;
        height: 100px;
        border:1px solid #ccc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        background: #ffffff;
        padding: 0 8px;
        margin:15px 0;
        -webkit-appearance:none;
      }
      .checkbox{
        border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        -webkit-appearance:none;
        display: inline-block;
      }
      .meterial_result{
        font-size: 20px;
        margin-top: 22px;
      }
      .meterial_total{
        color: rgba(25, 147, 54, 1);
      }
      .select-text{
        margin: 15px 0;
      }
      .popover{
        z-index: 1;
        .popover-title{
          background-color: transparent;
          font-size: 12px;
          border-bottom: none;
        }
        .popover-content{
          display: none;
        }
      }
    }
    .grey-color{
      background-color: #F4F7F5;
    }
    .add-button{
      font-size: 16px;
      color: rgba(25, 147, 54, 1);
      display: inline-block;
      padding: 3px;
      border-radius: 15px;
      width: 200px;
      margin-bottom: 20px;
      text-align: center;
      border:1px solid rgba(255, 245, 99, 1);
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
    }
    .add-button:hover{
      background-color: rgba(255, 245, 99, 1);
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
    }
    .no-padding{
      padding: 0;
    }
    .submit-main{
      width: 100%;
      background-color: #eee;
      padding: 10px;
      text-align: center;
      .s-button{
        width: 200px;
        font-size: 12px;
        font-weight: bold;
        border:0px;
        padding: 10px;
      }
    }
  }
}

.categories-main-con{
  min-height: 200px;
}

.customer-main-show{
  width: 100%;
  padding: 20px 0;
  .white-bg{
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    h2{
      font-size: 20px;
      color: #000;
      font-weight: bold;
      width: 100%;
      padding-top: 30px;
      margin-bottom: 0;
    }
    h2.heading{
      margin: 0;
      margin-bottom: 2px;
    }
    p.description{
      font-size: 13px;
      color: #222222;
    }
    p.overflow-hidden{
      overflow: hidden;
      width: 100%;
      height: 35px;
    }
    p.limited_content{
      display:inline-block;
      width:100%;
      height: 90px;
      overflow:hidden !important;
      margin-top: 10px;
    }
    h5.time-option{
      font-size: 12px;
      color: #989898;
      font-weight: normal;
    }
    .dropdown-main{
      position: absolute;
      top: 5px;
      right: 5px;
      .sort-arrow{
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        float: right;
        cursor: pointer;
        background-color: #ffffff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      }
      ul.dropdown-option{
        padding: 0;
        width: 100px;
        background-color: #f2f2f2;
        position: relative;
        margin-top: 10px;
        opacity: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        span.arrow-top{
          display: inline-block;
          width: 0;
          height: 0;
          position: absolute;
          top: -7px;
          right: 4px;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #f2f2f2;
        }
        li{
          width: 100%;
          border-bottom: 1px solid #dddddd;
          padding: 5px 0;
          list-style: none;
          text-align: center;
          a{
            color: #555555;
            font-size: 13px;
          }
        }
        li.no_border{
          border-bottom: none;
        }
      }
    }
    .product-detail{
      width: 100%;
      padding: 12px 5px 10px 5px;
      border-bottom: 1px solid #eeeeee;
      h4{
        font-size: 15px;
        color: #486d97;
        margin: 0;
      }
      .heading{
        font-size: 15px;
        color: #486d97;
        margin: 0;
        font-weight: 600;
      }
      p{
        font-size: 14px;
        color: #8e8e8e;
        margin: 0;
      }
    }
    .add-image-con{
      padding: 26px 0;
      .img-overflow{
        height: 950px;
        overflow-x: scroll;
      }
      .overflow-ads-img{
        height: 400px;
      }
      .overflow-servic-img{
        height: 750px;
      }
      .img-con{
        position: relative;
        display: inline-block;
        .upload-img{
          padding: 5px;
        }
        .cross-icon{
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .add-new-text{
        font-size: 20px;
        padding-top: 20px;
      }
    }
    .read_more_text{
      position: absolute;
      font-size: 13px;
      right: 10px;
      bottom: 10px;
    }
    .time_blog{
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.customer-main-show .white-bg .dropdown-main:hover > .dropdown-option{
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.searches_main_con{
  margin:30px 0;
  min-height: 420px;
  h3{
      border-bottom: 1px solid #eeeeee;
      font-size: 24px;
      margin-top: 20px;
    }
  .search_items{
    background-color: #ffffff;
    border-radius: 5px;
    padding:10px 0;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.3);
    h5.product-name{
      font-size: 18px;
      margin: 0;
      color: #365271;
    }
    p.location{
      font-size:13px;
      color: #8e8e8e;
    }
    p.category-name{
      font-size:13px;
    }
    p.description{
      font-size: 14px;
      margin-bottom: 2px;
    }
    a.read-more-link{
      color: #365271;
      font-size: 12px;
      text-decoration: none;
    }
  }  
}
.otp-min-height{
  min-height: 450px;
}

.filter_main_form{
  .form-group{
    position: relative;
    .rupee-icon{
      position: absolute;
      left: 10px;
      bottom: 10px;
    }
    .rupee-icon-scnd{
      position: absolute;
      right: 75px;
      bottom: 10px;
    }
    .form-control{
      padding-left: 20px;
      padding-right: 1px;
    }
    label{
      font-size: 12px;
    }
  }
}

.profile-page-con{
  width: 100%;
  position: relative;
  .profile-white-con{
    max-width: inherit;
    .product-detail{
      width: 100%;
      padding: 15px 5px 5px 5px;
      border-bottom: 1px solid #eeeeee;
      h4{
        font-size: 15px;
        color: #486d97;
        margin: 0;
      }
      p{
        font-size: 14px;
        color: #8e8e8e;
        margin: 0;
      }
    }
    .upload-img{
      display: inline-block;
      border: 1px solid #dedede;
      margin-bottom: 15px;
      opacity: 0;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
    }
    //.change-btn{
    //  width: 100%;
    //  max-width: 400px;
    //  background-color: #486d97;
    //  display: inline-block;
    //  margin-top: 20px;
    //  padding: 10px;
    //  color: #ffffff;
    //}
    .change-btn{
      color: #486d97;
      display: inline-block;
      margin-top: 20px;
      font-size: 13px;
    }
    .change-form{
      margin-top: 20px;
      .pass-textfield{
        width: 100%;
        max-width: 400px;
        height: 35px;
      }
      .change-submit{
        height: 35px;
        border-radius: 0px;
        padding: 8px 40px;
      }
    }
    .img-section{
      width: 100%;
      position: relative;
      text-align: center;
      img{
        width: 250px;
        height: 250px;
        display: inline-block;
      }
      .upload-form{
        .upload-btn{
          opacity: 0;
          //border-radius: 0px;
          //display: inline-block;
          //width: 100%;
          //background-color: #486d97;
          //padding: 10px;
          //border: 0;
          //color: #ffffff;
        }
      }
    }
  }
  .email-edit-icon{
    color: #486d97;
    font-size: 18px;
    position: absolute;
    top: -7px;
    right: -18px;
    cursor: pointer;
  }
  .edit-user-profile{
    .product-detail{
      padding: 10px 0;
      h4{
        margin-top: 10px;
      }
      .edit-profile-text{
        width: 100%;
        max-width: 350px;
        padding: 5px;
      }
    }
  }
}
.fixed-header{
  position: fixed;
  z-index: 99;
  width: 100%;
}
.header-space{
  height: 85px;
}
.negotiable-text{
  float: left;
}
.product_negotiable{
  float: left;
  margin-bottom: 0;
}
.negotiable-field{
  top: -10px;
  height: 20px;
  width: 20px;
  left: 23px;
}
.seller_post_button{
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  text-transform: none !important;
}
.dropdown-menu-category-img{
  height: 15px;
  width: 15px;
  position: absolute;
  left: 13px;
  top: 7px;
}
.color-code-con{
  width: 100%;
  font-size: 12px;
  margin-top: 20px;
  .color-code{
    margin: 5px 0;
    color: #696969;
  }
  .defined_color{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #3445d3;
  }
  .red-color{
    background-color: rgba(149, 55, 53, 1);
  }
  .skyblue-color{
    background-color: rgba(75, 172, 198, 1);
  }
  .purpul-color{
    background-color: rgba(128, 100, 162, 1);
  }
  .orienge-color{
    background-color: rgba(247, 150, 70, 1);
  }
  .green-color{
    background-color: rgba(155, 187, 89, 1);
  }
  .blue-color{
    background-color: rgba(79, 129, 189, 1);
  }
}
p.lead{
  font-size: 17px !important;
}
.google-map{
  .email-con{
    color: #416288;
    a{
      text-decoration: none;
    }
  }
}
.advertisement_image{
  width: 100%;
  margin: 15px 0;
}
.add-wishlist-con{
  width: 100%;
  position: relative;
  min-height: 32px;
  .gray-color-btn{
    width: 100%;
    cursor: inherit;
    position: absolute;
    bottom: 0;
  }
}
.side-small-box{
  min-height: 431px;
}
.preview_img_con{
  display: inline-block;
  position: relative;
  .preview_img_1{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 87px;
    height: 74px;
  }
  .preview_img_2{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 87px;
    height: 74px;
  }
  .preview_img_3{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 87px;
    height: 74px;
  }
  .preview_img_4{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 87px;
    height: 74px;
  }
  .preview_img_5{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 87px;
    height: 74px;
  }
  .img_add{
  }
  .target{
    width: 90px;
    height: 80px;
    position: absolute;
    top: 1px;
    left: 2px;
    img{
      width: 87px;
      height: 74px;
    }
  }
}
.rating_box{
  width: 100%;
  min-height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  h2{
    font-size: 20px;
    color: #000000;
    margin: 0;
    font-weight: normal;
    padding: 10px 15px;
    border-bottom: 1px solid #CCCCCC;
  }
  .new_rating{
    margin: 20px 0;
    .text-field{
      width: 100%;
      height: 35px;
      margin-bottom: 10px;
      border: 1px solid #eeeeee;
    }
    label{
      font-size: 12px;
      font-weight: bold;
    }
    .text-area{
      width: 100%;
      border: 1px solid #eeeeee;
    }
    .submit-btn{
      margin-top: 20px;
    }
  }
}
@media(max-width: 767px){
  .otp-min-height{
    min-height: inherit;
  }
  .min-box-height{
    min-height: inherit;
  }
  .read_more_text{
    position: inherit;
  }
}