<div class="container">
  <header class="page-header">
    <h1 class="page-title">Blog</h1>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <article class="blog-post">
        <h5 class="blog-post-title"><%= @blog.heading %></h5>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <% if @blog.blog_images.any? %>
                <%= image_tag @blog.blog_images.first.image(:size_500x500), class: 'img-responsive' %>
            <% else %>
                <%= image_tag "theme_img/500x500.png", class: 'img-responsive' %>
            <% end %>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="blog-post-caption">
              <% @blog.description.split('##').each do |paragraph| %>
                  <%= paragraph %> <br/><br/>
              <% end %>
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="gap"></div>