<div class="row">
  <div class="col-sm-4">
    <%= render partial: 'form' %>
  </div>
  <div class="col-sm-8"></div>
</div>
<div class="ff"></div>

<script>
    $(document).ready(function(){
        $( "#advertisement_category_id").change(function() {
            var category_val = this.value;
            $.get("/admin/subcategories/get_subcategories_for_category/"+ category_val +".json", function(data, status){
//                $('p').text("Data: " + data[0].name + "\nStatus: " + status);
//                data.push(data[0].name);
                var appendString = '';
                for(var i=0; i < data.length;i++){
                    appendString +='<option>' + data[i].name + '</option>';
                }
                $('#advertisement_subcategory_id').html(appendString);
            });

        });
    });
</script>