<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.email %></td>
            <td>
              <%= link_to edit_admin_customer_path(customer) do %>
                  <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to admin_customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do %>
                  <i class="fa fa-trash fa-3"></i>
              <% end %>
            </td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>
