<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.email %></td>
          </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>
