<div class="container">
  <div class="gap"></div>
  <h1 class="page-title"><%= current_user.name %></h1>
  <div class="tabbable product-tabs">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#tab-1" data-toggle="tab">Products</a>
      </li>
      <li><a href="#tab-2" data-toggle="tab">Services</a>
      </li>
      <div class="clearfix"></div>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab-1">
        <div class="row" data-gutter="15">
          <% @products.each do |product| %>
              <%= render partial: 'products/product', locals: { product: product } %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-2">
        <div class="row" data-gutter="15">
          <% @services.each do |service| %>
              <%= render partial: 'services/service', locals: { service: service } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>