<div class="container">
  <header class="page-header">
    <h1 class="page-title">About Us</h1>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead"><i>“It’s time to say bye bye to buying and start renting”</i></p>
    </div>
  </div>
  <div class="gap gap-small"></div>
  <div class="row row-col-gap">
    <div class="col-md-8 col-xs-12">
      <%= image_tag 'theme_img/960x480.png', class: 'img-responsive' %>
    </div>
    <div class="col-md-4">
      <h3 class="widget-title">Our Story</h3>
      <p>Byebuying provides anonline platform for peer to peer renting which helps you to avail a wide range of products & services on rent like Home Appliances, Home Furnishing, Furniture, Electronic items, Entertainment items, Vehicles, Gym Equipment, Dresses, Kids Fancy Dresses, Books, Commercial/Advertisement Space, Membership and many more.You can search for products/services or browse through products/servicesas per your needand also find out the vendor that rents out the product/services in your locality.</p>
    </div>
  </div>
  <div class="gap gap-small"></div>
  <div class="row row-col-gap">
    <div class="col-xs-12 col-xs-12">
      <p>At very nominalcost, ByeBuying helps you to choose wedding & party wear dresses like Sherwani, Jewellery, Lehenga etc., setting up your home with furniture, TV, Fridge, to setup your own Gym with lots of fitness equipment, thrill your party with musical equipment, home theatre systems, built part time office with computers/laptop, printers, projectors and many more items. </p>
      <p>Not only this, ByeBuying also helps you to choose the right place to advertise and promoting your business as well makes you feel to have your own office/cabin when you actually don’t own it.</p>
      <p>ByeBuying is the only website which you can say “One Stop Shop” for all your needs without actually buying these by spending lot of money. Avail each and everything on rent whether it’s a product or service and enjoy it by spending just a fraction of its cost.</p>
      <p>Just logon to ByeBuying, Choose what you are looking for, Make the deal with owner/vendor and you’re done.</p>
      <p>That’s why we say <i style="font-weight: bold;">“No Extra Spend, With Things On Rent”.</i> Live your desire without actually owing it.</p>
      <p>We at ByeBuying feel that each one of us brings expensive & sometimes very expensive things like Cameras, Music players, wedding dresses, expensive gym equipment and many morebut we don’t use those items frequently and after some time those things become useless for us and whole money got wasted. So what if someone around you can help you to recover this money not fully but of course even if you get some fraction of total amount that will be great. Isn’t it? And also if doing this is completely free?</p>
      <p class="lead"><i>So start renting your products or services today and let them earn for you.</i></p>
    </div>
  </div>
  <div class="gap gap-small"></div>
</div>
