<div class="container">
  <header class="page-header">
    <h1 class="page-title">Our Blog</h1>
  </header>
  <div class="row row-col-border" data-gutter="60">
    <div class="col-sm-9 col-xs-12">
      <article class="blog-post">
        <a href="blog-post.html">
          <%= image_tag 'theme_img/960x480.png', class: 'full-width img-rounded' %>
        </a>
        <h5 class="blog-post-title"><a href="blog-post.html">The Weekend Reading List</a></h5>
        <p class="blog-post-caption">Augue dictum senectus ridiculus magnis torquent maecenas porttitor inceptos dignissim sed vel a ultrices purus consectetur adipiscing ipsum risus eu phasellus mi tellus ante porttitor nisi magnis mattis facilisi lorem...</p>
        <ul
        class="blog-post-meta">
          <li>in <a href="#">Digital</a>
          </li>
          <li>September 15, 2015</li>
          <li>by <a href="#">Elizabeth Wallace</a>
          </li>
        </ul>
      </article>
      <article class="blog-post">
        <a href="blog-post.html">
          <%= image_tag 'theme_img/960x480.png', class: 'full-width img-rounded' %>
        </a>
        <h5 class="blog-post-title"><a href="blog-post.html">The Weekend Reading List</a></h5>
        <p class="blog-post-caption">Augue dictum senectus ridiculus magnis torquent maecenas porttitor inceptos dignissim sed vel a ultrices purus consectetur adipiscing ipsum risus eu phasellus mi tellus ante porttitor nisi magnis mattis facilisi lorem...</p>
        <ul
        class="blog-post-meta">
          <li>in <a href="#">Digital</a>
          </li>
          <li>September 15, 2015</li>
          <li>by <a href="#">Elizabeth Wallace</a>
          </li>
        </ul>
      </article>
    </div>
    <div class="col-sm-3 col-xs-12">
      <aside>
        <section class="blog-sidebar-section">
          <h3 class="widget-title-sm">Search</h3>
          <input class="form-control" type="text" />
        </section>
        <section class="blog-sidebar-section">
          <h3 class="widget-title-sm">Recent Posts</h3>
          <ul class="blog-sidebar-posts">
            <li>
              <h5><a href="#">The Weekend Reading List</a></h5>
              <p>September 15, 2015</p>
            </li>
            <li>
              <h5><a href="#">Nail That Military Trend</a></h5>
              <p>September 15, 2015</p>
            </li>
            <li>
              <h5><a href="#">Transitional Styling</a></h5>
              <p>September 15, 2015</p>
            </li>
            <li>
              <h5><a href="#">Its payday, treat yourself!</a></h5>
              <p>September 15, 2015</p>
            </li>
            <li>
              <h5><a href="#">Tumblr Tuesdays</a></h5>
              <p>September 15, 2015</p>
            </li>
          </ul>
        </section>
      </aside>
    </div>
  </div>
  <div class="gap"></div>
</div>
