<div class="container">
  <header class="page-header">
    <h1 class="page-title">Blog</h1>
  </header>

  <div class="row">
    <div class="col-xs-12">
      <article class="blog-post">
        <h5 class="blog-post-title">ByeBuying, the online rental marketplace, launches in India</h5>
        <p class="blog-post-caption">
          <a href="/">ByeBuying.com</a> is a new concept that is changing the habits of consumers. Now everyone can put their stuff up for rent, and rent anything they want to anyone around them. You already buy and sell your belongings on the internet, but now you can also enjoy the advantages of renting them online. A desire to stay on the cutting-edge of technology, urban living and the practical concerns of less storage space, gaining access to luxury goods, and an environmental impetus against overconsumption all contribute to a rising interest in renting.
        </p>
        <p class="blog-post-caption">
          "A new movement by consumers towards renting, as well as technological advancements in geo-localisation made it possible to create ByeBuying, a marketplace dedicated to renting"
        </p>
        <p class="blog-post-caption"><b>Make money renting your stuff.</b></p>
        <p class="blog-post-caption">
          You sell on the internet, now you can rent! Now individuals can put their goods for rent on the internet, and benefit from renting's numerous advantages: keep more of your stuff, and obtain revenues often greater than selling. The electric drill you only use once a year, the tuxedo or designer handbag stored at the back of the closet, your 3 person tent that you only use occasionally. Just think of everything you have lying around, and you'll quickly realize just how much you have to offer for rent.
        </p>
        <p class="blog-post-caption">
          ByeBuying's interface follows closely the model of established online marketplaces, so it can also be used by professionals, to access new clients and increase visibility with a new online presence. With ByeBuying, it is simple to manage even several thousand objects online, all on the same account. Rent whatever you want, easily and around you.
        </p>
        <p class="blog-post-caption">
          You're looking for something to rent in your neighbourhood? ByeBuying makes it simple and easy for you. Just type in what you are looking for and where you are, and a list of available rentals will pop up on a map around you. The conditions of rental are set by the owner, who you can contact directly online to make a reservation. Need a sound system for a party, a tandem bike for a romantic weekend, or a projector for a sports night with friends? You'll find what you want on ByeBuying.
        </p>
        <p class="blog-post-caption">
          ByeBuying aims to revolutionize the world of online rentals by opening it up to individuals, and by bringing together the currently very fragmented world of professional rentals. As new ways to consume are being created and explored, renting becomes a positive, sustainable alternative to buying and selling.
        </p>
        <p>
          <b>P.S. : Do not waste any time, signup now for free, and start renting your items out right away!</b>
        </p>
      </article>
      <article class="blog-post">
        <h5 class="blog-post-title">ByeBuying – Renting : an ecological mode of consumption</h5>
        <p class="blog-post-caption">
          Global warming, climate variations, a hole in the ozone layer, the drying up of natural resources, pollution in the water table... the environmental catastrophes of our era are closely linked to overconsumption!
        </p>
        <p class="blog-post-caption">
          For several years now, people have been searching for solutions to slow down these negative impacts on the environment which threaten future generations. Policies of severe control, anti-pollution plans, polluter-pay principles, banning of certain substances, all these plans and more are being put in place in order to save the planet.
        </p>
        <p class="blog-post-caption">
          But what if the best solution for less consumption was a more efficient use of our resources? To consume less we need to share our personal goods, thus increasing their usefulness. Living with roommates, organizing carpools, and renting are no longer simply ways of reducing costs, they can be seen as a contribution to the overall ecological effort.
        </p>
        <p class="blog-post-caption">
          Renting presents a real solution to the growing problems of overconsumption, for it replaces the buy and sell economy with a more economical approach based on usage and usefulness. Renting is thus a new more sustainable equilibrium for our economy, environment and society.
        </p>
      </article>
    </div>
  </div>
</div>