<div class="container">
  <header class="page-header">
    <h1 class="page-title">FAQ</h1>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead"><b>Q</b>- What is ByeBuying?</p>
      <p><b>ANS</b>- ByeBuying.com is an online marketplace that allows individuals and professionals to list any kind of items for rent, so that anyone can rent them. ByeBuying shows listings of all the items for rent in a given location along with their price, conditions and available dates, conveniently mapped around the location of the user. ByeBuying is currently the only website that provides this kind of online service for locating anything that you want to rent.</p>
      <p class="lead">What&#39;s in it for you?</p>
      <p>For professionals in the rental market:</p>
      <ul>
        <li>Boost your business visibility through a user-friendly and widely used website</li>
        <li>Access a powerful and flexible online reservation service for your products</li>
        <li>Manage online and cost-efficiently your inventory and business</li>
        <li>Get new clients and improve your bottom line</li>
      </ul>
      <p>For everyone:</p>
      <ul>
        <li>Find whatever you need, whenever you need it, wherever you are in our one-stop rental platform</li>
        <li>Access new fun and useful goods and discover new activities</li>
        <li>Make money out of your closet and garage</li>
        <li>Rent anything you can possibly imagine, not just apartments and cars!</li>
        <li>Do it all quickly, safely and cost-effectively</li>
      </ul>
      <p>For the community:</p>
      <ul>
        <li>Promote a more sustainable way of consuming that saves natural resources</li>
        <li>Tighten the community bonds by having neighbours helping each other out</li>
        <li>Support local rental businesses</li>
      </ul>
      <p class="lead"><b>Q</b>- How does ByeBuying work?</p>
      <p><b>Ans</b>- There are two types of members on ByeBuying: owners who put their goods and products for rent and renters who, well, rent them.</p>
      <p>ByeBuying aims to put these people and organizations in touch through one single marketplace.</p>
      <p><a href="http://us.zilok.com/support/explanation/">Want to know more about how ByeBuying works, see “How it works” section</a></p>
      <p class="lead"><b>Q</b>- How do I upload my product/service on ByeBuying?</p>
      <p><b>Ans</b>-You can upload your product/service(s) by simply registering and logging in on ByeBuying and clicking on &quot;Rent Product/Service&quot; under ”My Account” link at the top, on homepage. Enter all the product/service details such as description, images, rent amount, security deposit amount, product condition, time availability etc. and submit the listing. You product/service would be live on website within 24 hours.</p>
      <p class="lead"><b>Q</b>- What is cost of replacement?</p>
      <p><b>Ans</b>- This is applicable only for the products. If the product is considerably damaged, lost or stolen, then this is the amount user has to pay to the owner/vendor of the product. The cost of the replacement should not be more than the market value of the product.</p>
      <p class="lead"><b>Q</b>- Where do you operate?</p>
      <p><b>Ans</b>- We are operating Pan India.</p>
      <p class="lead"><b>Q</b>- Is any contract required to take any product/service on rent?</p>
      <p><b>Ans</b>- ByeBuying has provided a standard template with basic terms and conditions of rent and both the parties i.e Owner as well as Renter are free to use that template for the purpose of taking or giving things on rent. You can download the Standard template by clicking here “Standard template”.</p>
      <p class="lead"><b>Q</b>- Do I need to register for renting products/services on ByeBuying?</p>
      <p><b>Ans</b>- You can browse or search the product/service(s) as per choice without registering. However, while ordering the product/service(s) you will have to register/login.</p>
      <p class="lead"><b>Q</b>- Can I post anything on Rent?</p>
      <p><b>Ans</b>- ByeBuying allows user to post most of the products and services which are very common to be given on rent. For the detailed category list of the acceptable listing please see the category section at home page of ByeBuying. There are certain category of products and services which are prohibited to list on the website and Some restrictions are applied, please check our “ByeBuying Banned Product/Service List”.</p>
      <p class="lead"><b>Q</b>- What is the policy in case of product breakage/damage/loss?</p>
      <p><b>Ans</b>- Normal wear and tear from use of product should be acceptable. However if the product is broken, substantially damaged or lost, user has to either replace the product with another product in similar condition or pay the amount mentioned as “Cost of replacement” in the product details page.</p>
      <p class="lead"><b>Q</b>- Why owner/vendor need my ID and address proof?</p>
      <p><b>Ans</b>- Owner/vendor may ask for your ID and address proof to know the genuineness of the user and to ensure himself that user does not have any malicious intent.</p>
      <p class="lead"><b>Q</b>- Why do I need to give security deposit?</p>
      <p><b>Ans</b>- Security deposit is a form of guarantee against damage/loss of product. The security deposit amount is refundable after the return of Product to Owner/Vendor.</p>
      <p class="lead"><b>Q</b>-Is the listing of rental product/service is paid or free?</p>
      <p><b>Ans</b>- It is absolutely free. You will not be charged for uploading the product/services on Website.</p>
      <p class="lead"><b>Q</b>-How will I know which of my posted product/service(s) are in enquiry, in rented mode or available?</p>
      <p><b>Ans</b>- Once owner/vendor logon to his/her account, he/she can see the calendar view of the product/service(s) uploaded. There will three colours shown in the calendar which are Green, Blue and Red. Green means Available, Blue means under enquiry and Red means Rented.</p>
      <p class="lead"><b>Q</b>- Price displayed on the website, for a product or service, is the fixed prices or negotiable?</p>
      <p><b>Ans</b>- User can also negotiate for the prices during the enquiry with the owner/vendor and can make his/her offer. It totally depends on the owner/vendor to accept the offer or not.</p>
      <p class="lead"><b>Q</b>- For how long the product/service(s) will be published on the website?</p>
      <p><b>Ans</b>- The product/service(s) will be available on the website till the end date of the availability defined by owner/vendor at the time of uploading the product/service(s). However, owner/vendor can modify the end date any time after publishing.</p>
      <p class="lead"><b>Q</b>- How would I know if someone has enquired about my product/service(s)?</p>
      <p><b>Ans</b>- If any user enquired about any product/service(s) for rent, the owner/vendor of that particular product/service will get an email notification on the registered email ID with <a href="http://www.byebuying.com/agreement/Rent-Agreement.pdf" target="_blank">Rent Agreement</a> attached with it and also a SMS alert on the registered mobile number.</p>
    </div>
    <div class="gap gap-small"></div>
  </div>
</div>