<div class="container">
  <header class="page-header">
    <h1 class="page-title">How It's Work</h1>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag 'theme_img/how_its_work1.png', class: 'img-responsive'  %>
      <%= image_tag 'theme_img/how_its_work2.png', class: 'img-responsive'  %>
    </div>
  </div>
</div>