<h2>WELCOME PAGE</h2>

<form action="/">
  <input type="text" name="title" value="<%= params[:title] %>" placeholder="Search by title">
  <input type="text" name="category" value="<%= params[:category] %>" placeholder="Search by category">
  <input type="submit" value="Filter">
</form>


<% @advertisements.each do |advertisement| %>
    <%= advertisement.title %>,
    <%= advertisement.subcategory.category.name %> <br>
<% end %>