<div class="container">
  <header class="page-header">
    <h1 class="page-title">Sony XPERIA Z Ultra 16GB</h1>
    <ol class="breadcrumb page-breadcrumb">
      <li><a href="#">Home</a>
      </li>
      <li><a href="#">Electronics</a>
      </li>
      <li><a href="#">Cell Phones</a>
      </li>
      <li><a href="#">Sony</a>
      </li>
      <li class="active">XPERIA Z Ultra 16GB</li>
    </ol>
  </header>
  <div class="row">
    <div class="col-md-5">
      <div class="product-page-product-wrap jqzoom-stage">
        <div class="clearfix">
          <a href="theme_img/500x500.png" id="jqzoom" data-rel="gal-1">
            <%= image_tag 'theme_img/500x500.png', class: 'img-responsive' %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row" data-gutter="10">
        <div class="col-md-8">
          <div class="box">
            <ul class="product-page-product-rating">
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
              <li class="rated"><i class="fa fa-star"></i>
              </li>
            </ul>
            <p class="product-page-product-rating-sign"><a href="#">238 customer reviews</a>
            </p>
            <p class="product-page-desc">The first Android smartphone with a 6.4” Full HD Display and the first one ever to incorporate a TRILUMINOS™ Display with X-Reality for mobile – Xperia Z Ultra is the smartphone that takes you beyond your wildest dreams.</p>
            <table
            class="table table-striped product-page-features-table">
              <tbody>
              <tr>
                <td>Display:</td>
                <td>6.4 inches</td>
              </tr>
              <tr>
                <td>Camera:</td>
                <td>8.0MP</td>
              </tr>
              <tr>
                <td>Cellular Band:</td>
                <td>GSM/GPRS/EDGE 850/900/1800/1900 (Quadband) UMTS/HSPA+ 850/900/1700/1900/2100</td>
              </tr>
              <tr>
                <td>Contract:</td>
                <td>Without Contract</td>
              </tr>
              <tr>
                <td>Color:</td>
                <td>Black</td>
              </tr>
              <tr>
                <td>Brand:</td>
                <td>Sony</td>
              </tr>
              <tr>
                <td>Features:</td>
                <td>3G Data Capable, 4G Data Capable, Internet Browser, Wi-Fi Capable, GPS, Touchscreen, Music Player, Bluetooth Enabled</td>
              </tr>
              <tr>
                <td>Network:</td>
                <td>Unlocked</td>
              </tr>
              <tr>
                <td>Storage:</td>
                <td>16GB</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-highlight">
            <p class="product-page-price-list">$498</p>
            <p class="product-page-price">$199.99</p>
            <a class="btn btn-block btn-primary" style="margin-top: 10px" href="#">Enquire</a>
            <a class="btn btn-block btn-default" href="#"><i class="fa fa-star"></i>Wishlist</a>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title">Share This Item</h5>
              <ul class="product-page-share-item">
                <li>
                  <a class="fa fa-facebook" href="#"></a>
                </li>
                <li>
                  <a class="fa fa-twitter" href="#"></a>
                </li>
                <li>
                  <a class="fa fa-pinterest" href="#"></a>
                </li>
                <li>
                  <a class="fa fa-instagram" href="#"></a>
                </li>
                <li>
                  <a class="fa fa-google-plus" href="#"></a>
                </li>
              </ul>
            </div>
            <div class="product-page-side-section">
              <h5 class="product-page-side-title">Shipping & Returns</h5>
              <p class="product-page-side-text">In the store of your choice in 3-5 working days</p>
              <p class="product-page-side-text">STANDARD 4.95 USD FREE (ORDERS OVER 50 USD) In 2-4 working days*</p>
              <p class="product-page-side-text">EXPRESS 9.95 USD In 24-48 hours (working days)*</p>
              <p class="product-page-side-text">* Except remote areas</p>
              <p class="product-page-side-text">You have one month from the shipping confirmation email.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
