<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1" style="">Hi,</p>
            <br>
            <br>
            <p>
              Name	:	<%= @subscriber.name %>
            </p>
            <br>
            <p>
              Email	:	<%= @subscriber.email %>
            </p>
            <br>
            <p>
              Mobile	:	<%= @subscriber.mobile %>
            </p>
            <br>
            <p>
              Message	:	<%= @subscriber.message %>
            </p>
            <br>
            <p>
              Regards,<br>
              ByeBuyingTeam
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>