<footer class="main-footer">
  <div class="container">
    <div class="row row-col-gap" data-gutter="60">
      <div class="col-sm-4 col-xs-12">
        <h4 class="widget-title-sm">ByeBuying</h4>
        <p>Shop no. 31, New Sabzi Mandi, Sector 16, Faridabad</p>
      </div>
      <div class="col-sm-4 col-xs-12">

      </div>
      <div class="col-sm-4 col-xs-12">
        <h4 class="widget-title-sm">Connect with us</h4>
        <ul class="main-footer-social-list">
          <li>
            <a class="fa fa-facebook" href="https://www.facebook.com/MySolutions4u-1156251417739141/"></a>
          </li>
          <li>
            <a class="fa fa-twitter" href="https://twitter.com/vasudevkaushik9"></a>
          </li>
          <li>
            <a class="fa fa-pinterest" href="https://www.linkedin.com/today/posts/mohit-sikka+0_2YoSWVv2pcQ97ovRJZihaX"></a>
          </li>
          <li>
            <a class="fa fa-instagram" href="http://yooying.com/sikk_moh"></a>
          </li>
          <li>
            <a class="fa fa-google-plus" href="https://plus.google.com/105215932820925656620/posts"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copyright-text">Copyright &copy; <a href="/">ByeBuying</a> 2016. Designed my <a href="http://www.mysolutions4u.in/" target="_blank">MySolution4U.in</a>. All rights reserved
          <a href="/terms_condition">terms & Condition</a>  | <a href="/privacy_policy">Privacy Policy</a></p>
      </div>
      <!--<div class="col-md-6">-->
        <!--<ul class="payment-icons-list">-->
          <!--<li>-->
            <!--<img src="img/payment/visa-straight-32px.png" alt="Image Alternative text" title="Pay with Visa" />-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="img/payment/mastercard-straight-32px.png" alt="Image Alternative text" title="Pay with Mastercard" />-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="img/payment/paypal-straight-32px.png" alt="Image Alternative text" title="Pay with Paypal" />-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="img/payment/visa-electron-straight-32px.png" alt="Image Alternative text" title="Pay with Visa-electron" />-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="img/payment/maestro-straight-32px.png" alt="Image Alternative text" title="Pay with Maestro" />-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="img/payment/discover-straight-32px.png" alt="Image Alternative text" title="Pay with Discover" />-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</div>
</div>