<div class="global-wrapper clearfix" id="global-wrapper">
  <div class="navbar-before mobile-hidden">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
            <li><a href="/about_us">About Us</a>
            </li>
            <li><a href="/blog">Blog</a>
            </li>
            <li><a href="/contact_us">Contact Us</a>
            </li>
            <li><a href="#">FAQ</a>
            </li>
            <li><a href="#">Wishlist</a>
            </li>
            <li><a href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-login-dialog">
    <h3 class="widget-title">Member Login</h3>
    <p>Welcome back, friend. Login to get started</p>
    <hr />
    <form>
      <div class="form-group">
        <label>Email or Username</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="text" />
      </div>
      <div class="checkbox">
        <label>
          <input class="i-check" type="checkbox" />Remeber Me</label>
      </div>
      <input class="btn btn-primary" type="submit" value="Sign In" />
    </form>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
      <li><a href="#nav-account-dialog" class="popup-text">Register Here</a>
      </li>
      <li><a href="#nav-pwd-dialog" class="popup-text">Forgot Password?</a>
      </li>
    </ul>
  </div>
  <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-account-dialog">
    <h3 class="widget-title">Create TheBox Account</h3>
    <p>Ready to get best offers? Let's get started!</p>
    <hr />
    <form>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Repeat Password</label>
        <input class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input class="form-control" type="text" />
      </div>
      <div class="checkbox">
        <label>
          <input class="i-check" type="checkbox" />Subscribe to the Newsletter</label>
      </div>
      <input class="btn btn-primary" type="submit" value="Create Account" />
    </form>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
      <li><a href="#nav-login-dialog" class="popup-text">Already Memeber</a>
      </li>
    </ul>
  </div>
  <div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-pwd-dialog">
    <h3 class="widget-title">Password Recovery</h3>
    <p>Enter Your Email and We Will Send the Instructions</p>
    <hr />
    <form>
      <div class="form-group">
        <label>Your Email</label>
        <input class="form-control" type="text" />
      </div>
      <input class="btn btn-primary" type="submit" value="Recover Password" />
    </form>
  </div>


  <nav class="navbar navbar-inverse navbar-main yamm">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          ByeBuying
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="#"><i class="fa fa-reorder"></i>&nbsp; Shop by Category<i class="drop-caret" data-toggle="dropdown"></i></a>
            <ul class="dropdown-menu dropdown-menu-category">
              <li><a href="#"><i class="fa fa-home dropdown-menu-category-icon"></i>Home Appliances</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Air Conditioners</a>
                            </li>
                            <li><a href="#">Fridge</a>
                            </li>
                            <li><a href="#">Microwave Oven/Otg</a>
                            </li>
                            <li><a href="#">Induction Appliance</a>
                            </li>
                            <li><a href="#">Invertors</a>
                            </li>
                            <li><a href="#">Water Purifier</a>
                            </li>
                            <li><a href="#">Water Coolers</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Washing Machines</a>
                            </li>
                            <li><a href="#">Vaccumm Cleaner</a>
                            </li>
                            <li><a href="#">Air Purifiers</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!--<img class="dropdown-menu-category-section-theme-img" src="img/test_cat/2-i.png" alt="Image Alternative text" title="Image Title" style="right: -10px;" />-->
                    <%#= image_tag 'theme_img/test_cat/2-i.png', class: "dropdown-menu-category-section-theme-img", alt: "" %>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-diamond dropdown-menu-category-icon"></i>Home Furnishing</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Sofas</a>
                            </li>
                            <li><a href="#">Dining Tables</a>
                            </li>
                            <li><a href="#">Center Table</a>
                            </li>
                            <li><a href="#">Beds/Sofa-Sum-Beds</a>
                            </li>
                            <li><a href="#">Chairs</a>
                            </li>
                            <li><a href="#">Wardrobes</a>
                            </li>
                            <li><a href="#">Almirahs</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Computer Table</a>
                            </li>
                            <li><a href="#">Incliners/Rocking Chairs</a>
                            </li>
                            <li><a href="#">Outdoor Table Set</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-child dropdown-menu-category-icon"></i>Electronics</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Cameras</a>
                            </li>
                            <li><a href="#">Tv - Leds / Lcds</a>
                            </li>
                            <li><a href="#">Computers/Laptops</a>
                            </li>
                            <li><a href="#">Printers</a>
                            </li>
                            <li><a href="#">Fax Machines</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Projectors</a>
                            </li>
                            <li><a href="#">Speaker Systems</a>
                            </li>
                            <li><a href="#">Others</a>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-plug dropdown-menu-category-icon"></i>Entertainment</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Gaming Consoles</a>
                            </li>
                            <li><a href="#">Musical Instruments</a>
                            </li>
                            <li><a href="#">Home Theatre Systems</a>
                            </li>
                            <li><a href="#">Dvd Players</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Karaoke Systems</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-tags dropdown-menu-category-icon"></i>Health & Wellness</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Treadmills</a>
                            </li>
                            <li><a href="#">Multi-Gym</a>
                            </li>
                            <li><a href="#">Fitness Cycles & Bikes</a>
                            </li>
                            <li><a href="#">Massagers</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Gym Trainers</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!--<img class="dropdown-menu-category-section-theme-img" src="img/test_cat/6-i.png" alt="Image Alternative text" title="Image Title" style="right: -20px;" />-->
                    <%#= image_tag 'theme_img/test_cat/6-i.png', class: "dropdown-menu-category-section-theme-img", alt: "" %>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-music dropdown-menu-category-icon"></i>Wedding Collection</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <h5 class="dropdown-menu-category-title">Women</h5>
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Artifical Jewellery</a>
                            </li>
                            <li><a href="#">Sarees</a>
                            </li>
                            <li><a href="#">Lahenga</a>
                            </li>
                            <li><a href="#">Sharara</a>
                            </li>
                            <li><a href="#">Western Dresses</a>
                            </li>
                            <li><a href="#">Party Suits</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <h5 class="dropdown-menu-category-title">Men</h5>
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Party Suits</a>
                            </li>
                            <li><a href="#">Sherwani</a>
                            </li>
                            <li><a href="#">Indo Western</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-location-arrow dropdown-menu-category-icon"></i>Vehicles</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Car</a>
                            </li>
                            <li><a href="#">Bike/Scooter</a>
                            </li>
                            <li><a href="#">Bicycle</a>
                            </li>
                            <li><a href="#">Others</a>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Travel & Adventure</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Bags/Luggages</a>
                            </li>
                            <li><a href="#">Camping Tent</a>
                            </li>
                            <li><a href="#">Skates</a>
                            </li>
                            <li><a href="#">Rafting Board</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Sleeping Bags</a>
                            </li>
                            <li><a href="#">Binoculers</a>
                            </li>
                            <li><a href="#">Hicking Backpacks</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-picture-o dropdown-menu-category-icon"></i>Kids</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Kids Fancy Dresses</a>
                            </li>
                            <li><a href="#">Toys</a>
                            </li>
                            <li><a href="#">Educational Equipments</a>
                            </li>
                            <li><a href="#">Tution Classes</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-paw dropdown-menu-category-icon"></i>Commercial Space</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Advertisement Space</a>
                            </li>
                            <li><a href="#">Conference Meeting Rooms</a>
                            </li>
                            <li><a href="#">Warehouse Space</a>
                            </li>
                            <li><a href="#">Party & Wedding Spaces</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-cubes dropdown-menu-category-icon"></i>Membership</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Gym</a>
                            </li>
                            <li><a href="#">Clubs</a>
                            </li>
                            <li><a href="#">Swimming</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Interests & Hobbies</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Dance Classes</a>
                            </li>
                            <li><a href="#">Singing Classes</a>
                            </li>
                            <li><a href="#">Music Classes</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Drawing/Painting Classes</a>
                            </li>
                            <li><a href="#">Yoga/Aerobic Classes</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Books & Magazines</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Literature & Fictions</a>
                            </li>
                            <li><a href="#">History & Biographies</a>
                            </li>
                            <li><a href="#">Science & Technology</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Humour</a>
                            </li>
                            <li><a href="#">Academics</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Others</a>
                <div class="dropdown-menu-category-section">
                  <div class="dropdown-menu-category-section-inner">
                    <div class="dropdown-menu-category-section-content">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="dropdown-menu-category-list">
                            <li><a href="#">Movers & Packers</a>
                            </li>
                            <li><a href="#">Event Organizers</a>
                            </li>
                            <li><a href="#">Drivers</a>
                            </li>
                            <li><a href="#">Others</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left navbar-main-search" role="search">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Search the Entire Store..." />
          </div>
          <a class="fa fa-search navbar-main-search-submit" href="#"></a>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">Start</a>
            <ul class="dropdown-menu dropdown-menu-shipping-cart">
              <li>
                <a href="#nav-login-dialog" class="popup-text">Login</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
