<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1" style="">Dear <%= @user.name %>,</p>
            <br>
            <p>
              This is a notification email.
            </p>
            <br>
            <p>
              Here is your updated password: <%= @password %>.
            </p>
            <br>
            <p>
              If you didn't make this change, please visit www.byebuying.com and reset your login details.
            </p>
            <br>
            <p>
              Regards,<br>
              ByeBuyingTeam
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!--Dear <%#= @user.name %>,-->
<!--<br>-->
<!--<br>-->
<!--This is a notification email.-->
<!--<br>-->
<!--<br>-->
<!--Here is your updated password: <%#= @password %>.-->
<!--<br>-->
<!--<br>-->
<!--If you didn't make this change, please visit www.byebuying.com and reset your login details.-->
<!--<br>-->
<!--<br>-->
<!--Regards,-->
<!--<br>-->
<!--ByeBuyingTeam-->
<!--<br><br>-->
