<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1" style="">Hi, <%= @subscriber.name.titleize %></p>
            <br>
            <p>
              Thanks for contact on ByeBuying.com. We have recieved your query, we will contact you soon.
            </p>
            <p>
              Regards,<br>
              ByeBuyingTeam
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>