<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p class="h1" style="">Hi <%= @user.name %>,</p>
            <br>
            <p>
              This is an auto reminder for the enquiry you received on “Ad <%= @enquiry.id %> & <%= @enquiry.description %>” <%= @enquiry.start_at.strftime(time_format) %>
            </p>
            <br>
            <p>
              Please note the enquiry will remain active for 24 Hours from the time this email is generated.
            </p>
            <br>
            <p>
              In case you cannot see this email properly, please login and visit the enquiry section in your account section.
            </p>
            <br>
            <p>
              Regards,<br>
              ByeBuyingTeam
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>