Hi <%= @service.user.name %>,
<br>
<br>
Congratulations!!!
<br>
<br>
Your service <%=@service.service_description%> has been published on <a href="http://www.byebuying.com/">www.ByeBuying.com</a> for the rent.  Please
<a href="<%="http://www.byebuying.com/services#{@service.id}"%>">click here</a> to view the Ad details. You can make changes or delete the Ad by login into your account on <a href="http://www.byebuying.com/">www.ByeBuying.com</a>.
<br>
<br>
In case you have not posted this Ad or this Ad has been posted by mistake, please login into your account and edit/delete the Ad or you can also write to us at info@byebuying.com.
<br>
<br>
Regards,
<br>
ByeBuying Team
