<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h2><%= @category.name %></h2>
  </div>
  <div class="col-sm-4"></div>

  <div class="col-sm-12">
    <% @category.subcategories.each do |subcategory| %>
        <a href="<%= subcategory_path(subcategory) %>"><%= subcategory.name %></a>
        <br>
    <% end %>
  </div>
</div>