<div class="row">
  <div class="col-sm-9">
    <%= link_to 'Edit', edit_admin_blog_path(@blog), class: 'btn btn-primary' %>
    <%= link_to 'Delete', admin_blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <dl>
      <dt>Heading</dt><dd><%= @blog.heading %></dd>
      <dt>Description</dt><dd><%= @blog.description %></dd>
    </dl>
  </div>
</div>