<header class="page-header page-header-banner">
  <div class="container">
    <div class="page-header-banner-inner">
      <h1 class="page-title">Products</h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row" data-gutter="15">
        <% @products.each do |product| %>
            <%= render partial: 'product', locals: { product: product } %>
        <% end %>
      </div>
      <%= will_paginate @products %>
    </div>
  </div>
</div>
<div class="gap"></div>